:root {
	--primery-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--revtext-color: #fff;
	--copyr-color: rgba(255, 255, 255, 0.4);
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	margin: 0;
	background-color: #fff;
	color: var(--title-text-color);
	font-family: Roboto, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-inline-start: 0px;
}

img {
	display: block;
	margin-bottom: 0px;
}
/* цвет лого-1 #2196F3 */
/* цвет лого-2 #212121 */
/* цвет заголовков #212121 */
/* цвет абзацев  #757575 */
/* белый #FFFFFF; */
/* акцент  #2196F3; */
/* цвет копирайта rgba(255, 255, 255, 0.4) */
.text {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--primery-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.white-font {
	color: #fff;
}
.revtext-color {
	color: var(--revtext-color);
	font-family: Raleway, sans-serif;
	font-size: 22px;
	line-height: 1.18;
	letter-spacing: 0.03em;
}
.back-hero-color {
	background-color: rgba(47, 48, 58, 0.8);
}
.back-zone-color {
	background-color: #f5f4fa;
}
.footer {
	background-color: #2f303a;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

/* Header */

.page-header {
	border-bottom: 1px solid #ececec;
}
.main-logo {
	display: flex;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo-partone {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-partone-bottom {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-size: 22px;
	line-height: 1.18;
	letter-spacing: 0.03em;
}

.logo-parttwo {
	color: var(--title-text-color);
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.main-nav {
	display: flex;
	align-items: center;
}

/* Навигация */

.site-nav {
	display: flex;
	margin-left: 85px;
}
.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
	transition: var(--transition);
}
.link.current {
	display: block;
	position: relative;
	color: var(--accent-color);
}
.link.current::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	left: 0;
	bottom: 0;
	border-radius: 2px;
	background-color: var(--accent-color);
}
.auth-nav {
	display: flex;
	margin-left: auto;
}
.auth-nav .itemnav:not(:last-child) {
	margin-right: 30px;
}
.itemnav .link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--primery-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.itemnav .link:hover,
.itemnav .link:focus {
	color: var(--accent-color);
	transition: var(--transition);
}

.itemnav .link:hover .icon-mail {
	fill: var(--accent-color);
	transition: var(--transition);
}
.icon-mail {
	margin-right: 10px;
	fill: #757575;
}

.icon-phone {
	margin-right: 10px;
	fill: #757575;
}
.itemnav .link:hover .icon-phone {
	fill: var(--accent-color);
	transition: var(--transition);
}

/* Герой */
.hero {
	display: flex;
	flex-direction: column;
	background-color: rgba(47, 48, 58, 0.8);
	text-align: center;

	align-items: center;
	justify-content: center;
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header.jpg);
	background-position: 50% 50%;
}

.hero-title {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 46px;
	color: var(--revtext-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;

	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.button {
	display: inline-block;
	padding: 10px 32px;
	min-width: 136px;
	color: #fff;
	background-color: var(--accent-color);
	border-radius: 4px;
	border-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #0a40f3;
	border-color: #0a40f3;
	transition: var(--transition);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity var(--transition);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.3);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--transition);
	width: 528px;
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 41px;
	padding-right: 39px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
.modal-title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.03em;
}
.form {
	margin-top: 30px;
}
.form-field {
	position: relative;
	display: flex;
	align-items: baseline;
	margin-bottom: 28px;
}
.form-input {
	width: 100%;
	margin: 0;
	padding: 12px 10px 12px 42px;
	font: inherit;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-label {
	position: absolute;
	top: 50%;
	left: 42px;
	transform: translateY(-50%);
	transition: var(--transition);
	font-size: 14px;
	line-height: 1.14px;
	letter-spacing: 0.01em;
}
.form-label:hover,
.form-label:focus {
	color: var(--accent-color);
}
.icon-modal {
	position: absolute;

	left: 19px;
	top: 50%;
	transform: translateY(-50%);
}

.form-field:focus-within > .icon-modal {
	fill: #2196f3;
}
.form-field:focus-within > .form-label {
	top: -10px;
	left: 19px;
	color: #2196f3;
}

.form-field:hover .form-input,
.form-field:focus .form-input {
	border: 1px solid #2196f3;
	outline: none;
}

.form-input:not(:placeholder-shown) + .form-label {
	top: -10px;
	left: 19px;
}
.textarea {
	width: 100%;
	height: 120px;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 12px 16px;
}
.checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
}
.send {
	min-width: 200px;
	min-height: 50px;
	padding: 10px 55px;
	margin: 0em;
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	color: #fff;
	cursor: pointer;
}
.checkbox-text {
	display: flex;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.icon-check {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 9px;
	border-radius: 2px;
	border: 2px solid #212121;
}
.checkbox:checked + .icon-check {
	border-color: #2196f3;
	background-color: #2196f3;
	background-image: url(../images/check.svg);
	background-size: contain;
	background-origin: border-box;
}
.contract {
	text-decoration: underline;
	color: #2196f3;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.close {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 0;
	margin: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	outline: none;
	cursor: pointer;
}
.close:hover,
.close:focus {
	fill: #2196f3;
}
.icon-close {
	width: 11px;
	height: 11px;
}
/* Секция */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

/* Преимущества */
.feature-list {
	display: flex;
}

.feature-box {
	width: calc((100% - 3 * 30px) / 4);
}
.feature-box::before {
	display: block;
	content: "";
	height: 120px;
	background-color: #f5f4fa;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}
.feature-box:nth-child(1)::before {
	background-image: url(../css/imgcss/antenna.svg);
}
.feature-box:nth-child(2)::before {
	background-image: url(../css/imgcss/clock.svg);
}
.feature-box:nth-child(3)::before {
	background-image: url(../css/imgcss/diagram.svg);
}
.feature-box:nth-child(4)::before {
	background-image: url(../css/imgcss/astronaut.svg);
}
.feature-box:not(:last-child) {
	margin-right: 30px;
}

.feature-title {
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.feature-list .text {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.work-list {
	display: flex;
}
.work-box {
	width: calc((100% - 2 * 30px) / 3);
}
.work-box:not(:last-child) {
	margin-right: 30px;
}
.work-title {
	display: inline-block;
	text-align: center;
	width: 370px;
	margin-top: 0px;
	color: #fff;
	background-color: rgba(47, 48, 58, 0.8);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
/* Команда */
.team-list {
	display: flex;
	text-align: center;
}
.team-card {
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
	width: calc((100% - 3 * 30px) / 4);
}

.team-card:not(:last-child) {
	margin-right: 30px;
}

.team-title {
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.team-text {
	margin-top: 0px;
	margin-bottom: 16px;
	color: var(--primery-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.team-media {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
}

.icon-media:not(:last-child) {
	margin-right: 10px;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.social-link:hover {
	background-color: #2196f3;
	transition: var(--transition);
}

.social-link:hover .icon-instagram {
	fill: #ffffff;
}
.social-link:hover .icon-twitter {
	fill: #ffffff;
}
.social-link:hover .icon-facebook {
	fill: #ffffff;
}
.social-link:hover .icon-linkedin {
	fill: #ffffff;
}
.icon-instagram {
	width: 20px;
	height: 20px;
	fill: #afb1b8;
}
.icon-twitter {
	width: 20px;
	height: 16px;
	fill: #afb1b8;
}
.icon-facebook {
	width: 20px;
	height: 20px;
	fill: #afb1b8;
}
.icon-linkedin {
	width: 20px;
	height: 20px;
	fill: #afb1b8;
}

/* Наши клиенты */

.clients-list {
	display: flex;
}
.clients-box {
	width: calc((100% - 5 * 30px) / 6);
}

.clients-box:not(:last-child) {
	margin-right: 30px;
}
.clients-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #afb1b8;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	height: 90px;
}
.clients-logo:hover {
	border: 1px solid #2196f3;
	fill: #2196f3;
	transition: var(--transition);
}
/* футер */
address {
	font-style: normal;
}
.footer {
	padding-top: 56px;
	padding-bottom: 21px;
}

.address-block {
	display: flex;
	align-items: baseline;
}

.footer-text {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 0px;
	color: var(--revtext-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.footer .link {
	display: inline-block;
	margin-top: 9px;
	color: var(--copyr-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.footer .link:hover {
	transition: var(--transition);
	color: var(--accent-color);
}
.media-title {
	display: inline-block;

	margin-left: 69px;
	margin-bottom: 20px;
	color: var(--revtext-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.media-connect {
	display: flex;
	align-items: center;
	margin-left: 69px;
	transition: var(--transition);
}
.connect-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	transition: var(--transition);
}
.connect-link:not(:last-child) {
	margin-right: 10px;
}
.connect-link:hover {
	background-color: #2196f3;
}
.instagram-footer {
	width: 20px;
	height: 20px;
	fill: #ffffff;
}
.twitter-footer {
	width: 20px;
	height: 20px;
	fill: #ffffff;
}
.facebook-footer {
	width: 20px;
	height: 20px;
	fill: #ffffff;
}
.linkedin-footer {
	width: 20px;
	height: 20px;
	fill: #ffffff;
}
.join {
	display: block;
	margin-left: 94px;
}
.join-title {
	display: inline-block;

	/* margin-left: 94px; */
	margin-bottom: 20px;
	color: var(--revtext-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.join input {
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: #2f303a;
	color: var(--revtext-color);
}

.join-send {
	display: inline-flex;
	align-items: center;
	min-width: 200px;
	min-height: 50px;
	margin-left: 12px;
	padding: 10px 28px;
	background-color: #56adf5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--revtext-color);
	font-size: 16px;
	line-height: 1.81;
	cursor: pointer;
}
.join-send:hover,
.join-send:focus {
	background-color: #0a40f3;
	transition: var(--transition);
}
.join-icon {
	fill: #fff;
	width: 24px;
	height: 24px;
	margin-left: 10px;
}
.copyr-color {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 28px;
	margin-bottom: 0px;
	padding-top: 18px;
	color: var(--copyr-color);
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	text-align: center;
	letter-spacing: 0.03em;
}
/* Портфолио */

.section-portfolio {
	padding-top: 106px;
	padding-bottom: 81px;
}
.hero-portfolio {
	margin: 0;
	color: var(--revtext-color);
}
.filters {
	display: flex;
	justify-content: center;
	padding-bottom: 34px;
}
.button-filters:not(:last-child) {
	margin-right: 8px;
}
.button-primery {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.26;
	text-align: center;
	letter-spacing: 0.03em;
	border-radius: 4px;
	padding: 6px 22px;
	color: var(--title-text-color);
	background-color: #f5f4fa;
	transition: var(--transition);
}

.button-primery:hover,
.button-primery:focus {
	background-color: var(--accent-color);
	color: var(--revtext-color);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.projects {
	display: flex;
	flex-wrap: wrap;
}
.projects-box {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px solid #eeeeee;
}
.projects-box:nth-child(3n) {
	margin-right: 0px;
}
.projects-box:hover,
.projects-box:focus {
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.projects-box:hover .project-example::before {
	opacity: 1;
	transform: translateY(0);
}
.projects-box:hover .portfolio-overlay {
	opacity: 1;
	transform: translateY(0);
}

.project-example {
	display: flex;
	position: relative;
	overflow: hidden;
}
.project-example::before {
	display: inline-block;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;
	transform: translateY(100%);
	transition: var(--transition);
}

.portfolio-overlay {
	display: flex;
	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	width: 100%;
	margin: 0;
	padding: 63px 24px;
	color: var(--revtext-color);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	/* outline: 1px solid blue; */
	opacity: 0;
	transform: translateY(100%);
	transition: var(--transition);
}
.portfolio-title {
	margin-top: 20px;
	margin-bottom: 4px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text {
	margin-top: 0;
	margin-bottom: 20px;
	color: var(--primery-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}
