/* Наши клиенты */

.clients-list {
	@media screen and (max-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}
.clients-box {
	@media screen and (max-width: 767px) {
		width: calc((100% - 4 * 15px) / 2);
		margin: 15px;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 2 * 30px) / 3);
		margin-right: 30px;
		&:nth-child(3n) {
			@media screen and (min-width: 768px) {
				margin-right: 0px;
			}
		}
	}
	@media screen and (min-width: 1200px) {
		width: calc((100% - 5 * 30px) / 6);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.clients-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #afb1b8;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	height: 90px;
	&:hover {
		border: 1px solid $accent-color;
		fill: $accent-color;
		transition: $transition;
	}
}
