/* Преимущества */

.feature-list {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-wrap: wrap;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}
.white-font {
	color: #fff;
}
.feature-box {
	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: block;
		width: calc((100% - 1 * 30px) / 2);
		margin-right: 30px;
		&:nth-child(2n) {
			@media screen and (min-width: 768px) {
				margin-right: 0px;
			}
		}
		&:nth-child(-n + 2) {
			@media screen and (min-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}
	@media screen and (min-width: 1200px) {
		display: inline-block;
		width: calc((100% - 3 * 30px) / 4);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.feature-box::before {
	display: block;
	content: "";
	height: 120px;
	background-color: #f5f4fa;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}
.feature-box:nth-child(1)::before {
	background-image: url(../../images/antenna.svg);
}
.feature-box:nth-child(2)::before {
	background-image: url(../../images/clock.svg);
}
.feature-box:nth-child(3)::before {
	background-image: url(../../images/diagram.svg);
}
.feature-box:nth-child(4)::before {
	background-image: url(../../images/astronaut.svg);
}

.feature-title {
	margin-top: 30px;
	margin-bottom: 10px;
	color: #212121;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.feature-list .text {
	color: $primery-color;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
